.env

.buildx-cache
.buildx-cache-new

__pycache__/
*.py[cod]
*$py.class

*.idb
*.i64
*.core
core
qemu.log

vmlinux
bzImage
vmlinuz
rootfs.cpio
rootfs.cpio.*
initramfs/
exploit
exploit-*

rootfs/initramfs/proc/
rootfs/initramfs/sys/
rootfs/initramfs/dev/
rootfs/initramfs/tmp/
rootfs/rootfs.cpio
rootfs/rootfs.cpio.*

kernel/linux/.git/
kernel/linux/.cache/
kernel/vmlinux
kernel/bzImage
kernel/vmlinuz
kernel/**/*.o
kernel/**/*.ko
kernel/**/*.cmd
kernel/**/*.mod
kernel/**/*.mod.c
kernel/**/modules.order
kernel/**/Module.symvers
